
<style>
    #main{
    width: 100% !important;
    padding: 100px;
    text-align: center;
    }
</style>

<h1>About</h1>
<section>
  <p>Esta galería consiste en un proyecto realizado en Ruby on Rails, integrando html, css y js.</p>
</section>

<p class="pt-5">Volver a <%= link_to "INICIO", 'index'%></p>